<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                <a id="log-in" class="btn btn-raised btn-primary"
                   [ngClass]="{'not-selected': selectedType !== '/prepare/log-in'}" [routerLink]="['/prepare/log-in']">로그인</a>
                <a id="register" class="btn btn-raised btn-primary"
                   [ngClass]="{'not-selected': selectedType !== '/prepare/sign-up'}" [routerLink]="['/prepare/sign-up']">회원가입</a>
            </div>
            <div *ngIf="selectedType === '/prepare/log-in';else signUpForm">
                <app-log-in></app-log-in>
            </div>
            <ng-template #signUpForm>
                <app-sign-up></app-sign-up>
            </ng-template>
        </div>
    </div>
</div>