<div class="card">
    <div class="card-height-indicator"></div>
    <div class="card-content">
        <div class="card-image" [ngClass]="{withoutripple: !canClick}" (click)="navigate( game.url )">
            <img [src]="'assets/img/header.jpg'">
            <h3 class="card-image-headline">{{ game.title }}</h3>
        </div>
        <div class="card-body text-center">
            <app-star-rate-bar [rate]="0" (starRateEmitter)="submitStarRate(game, $event)"></app-star-rate-bar>
        </div>
    </div>
</div>