<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="card" fxFlex.gt-sm="500px" fxLayout="column">
    <p>Sign in</p>
    <form class="form-group" fxLayout="column" fxLayoutGap="1rem">
      <label for="email" class="form-label">Email
        <input id="email" class="form-control" type="text">
      </label>
      <label for="password" class="form-label">Password
        <input id="password" class="form-control" type="password">
      </label>
      <div class="btn-group" fxLayout="column" fxLayoutGap=".2rem">
        <button class="btn raise primary" type="submit">Sign in</button>
        <button class="btn default" type="button" routerLink="/sign-in">Create an account</button>
      </div>
    </form>
  </div>
</div>
