@import "../../../../styles.scss";

.container {
  background-color: $pointer;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.title, .nickname {
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
}

.nickname {
  color: #FFFFFF;
  text-decoration: none;
}
