@import "../../../../styles.scss";

.container {
  background-color: $primary;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.title, .nickname {
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
}
