<app-navbar></app-navbar>

<div class="container">
    <div class="row game-info">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 left-side">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="game-thumbnail" [attr.src]="'../../assets/img/header/' + game?.url + '-header.jpg'">
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 right-side">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="title">{{ game?.title }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>발매일 : {{game?.release_date}}</h4>
                            <h4>개발사 : {{game?.developer}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="gameRateAVG$ | async as gameRateAVG">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="title">지난 3개월 간 평가</h3>
                    <p class="predicted-score">
                        <i class="material-icons good"
                           *ngIf="gameRateAVG.rate_avg === 0 || gameRateAVG.rate_avg > 2.5; else badGame">thumb_up</i>
                        <ng-template #badGame><i class="material-icons bad">thumb_down</i></ng-template>
                        <span>{{ gameRateAVG.rate_avg_3_month | number:'.2-2' }}</span>

                        <span *ngIf="gameRateAVG.rate_count_3_month < 10000; else muchPeople">({{ gameRateAVG.rate_count_3_month | number }}명)</span>
                        <ng-template #muchPeople>(10000명 이상)</ng-template>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="title">전체 기간 평가</h3>
                    <p class="predicted-score">
                        <i class="material-icons good"
                           *ngIf="gameRateAVG.rate_avg === 0 || gameRateAVG.rate_avg > 2.5; else badGame">thumb_up</i>
                        <ng-template #badGame><i class="material-icons bad">thumb_down</i></ng-template>
                        <span>{{ gameRateAVG.rate_avg | number:'.2-2' }}</span>

                        <span *ngIf="gameRateAVG.rate_count_3_month < 10000;else muchPeople">({{ gameRateAVG.rate_count | number }}명)</span>
                        <ng-template #muchPeople>(10000명 이상)</ng-template>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="title">당신의 별점 예상</h3>
                    <div class="predicted-score"
                         *ngIf="collaborateFilterRate$ | async as collaborateFilterRate; else notYetPredictScore">
                        <div *ngIf="collaborateFilterRate === CAN_NOT_COMPUTE; else noPredictScore">
                            <span> 정보가 부족합니다. </span>
                        </div>
                        <ng-template #noPredictScore>
                            <i class="material-icons good"
                               *ngIf="collaborateFilterRate === 0 || collaborateFilterRate > 2.5; else badGame">thumb_up</i>
                            <ng-template #badGame><i class="material-icons bad">thumb_down</i></ng-template>
                            <span>{{ collaborateFilterRate | number:'.2-2' }}</span>
                        </ng-template>
                    </div>
                    <ng-template #notYetPredictScore>
                        <div class="predicted-score">
                            <span> 잠시만 기다려주세요. </span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-tag-bar [tagList]="tagList$"></app-tag-bar>
        </div>
    </div>
    <app-review-input-bar [isComment]="true" (rateOutput)="enrollGameRate($event)"></app-review-input-bar>
    <app-review *ngFor="let gameRate of gameRateList$ | async" [gameRate]="gameRate"></app-review>
</div>