.game-info {
    .left-side {
        img {
            max-width: 100%;
            margin: 0;
        }
    }
    .right-side {
    }
}

.title {
    margin: 10px 0px;
}

.predicted-score {
    font-size: 30px;
    margin: 0;
    .good {
        color: #673AB7;
    }
    .bad {
        color: #F44336;
    }
}