<div class="card">
  <form class="form-group" [formGroup]="CommentFormGroup" (submit)="newComment(CommentFormGroup)">
    <p>코멘터리 입력 및 평점</p>
    <div class="comment-input">
      <textarea></textarea>
      <div class="comment-input-btn">
        <app-star-rate-bar></app-star-rate-bar>
        <button class="btn" type="submit">등록</button>
      </div>
    </div>
  </form>
</div>
<div class="card">
  <p>코멘터리 리스트</p>
  <div class="comment-list" *ngIf="comments$ | async as res">
    <ul>
      <li *ngFor="let comment of res.data;">
        <!--댓글-->
        <div class="comment">
          <div class="comment-header">
            <p class="comment-nickname-font">{{ comment.nickname }}</p>
            <p class="comment-date-font">{{ comment.regi_date }}</p>
          </div>
          <!-- 여기에 새로줄 넣고싶은데 코드는 적었는데 안돼염-->
          <hr height="3px" width="0px" border-right="0px"/>
          <div class="comment-content" >
              <p>{{ comment.comment }}</p>
          </div>
        </div>
        <div class="comment-btn">
          <app-star-rate-bar [rate]="comment.rate" [readOnly]=true></app-star-rate-bar>
          <button *ngIf="comment.id==user_id" class="btn" (click)="deleteComment(CommentFormGroup)">삭제</button>
        </div>
        <hr width="1290px" noshade />
      </li>
    </ul>
  </div>
</div>
