@import "../../../styles";

#comment-form .form-group {
  margin-bottom: .5rem;
}

#comment-form .form-group textarea {
  height: 5rem;
  resize: none;
}

.comments > .comment {
  margin: 0 -1rem;
  padding: 1rem 1rem;
  border-bottom: 2px solid $primary-light;
}

.comment .header .nickname {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.comment .header .date {
  font-size: .8rem;
}

.comment .content .comment {
  margin-bottom: .5rem;
}

.comment .btn {
  margin-left: auto;
}

.comment_paging_btn {
  margin-top: .5rem;
}
