<div class="card">
  <form class="form-group" [formGroup]="CommentFormGroup" (submit)="newComment(CommentFormGroup)">
    <p>코멘터리 입력 및 평점</p>
    <div class="comment-input">
      <textarea></textarea>
      <div class="comment-input-btn">
        <app-star-rate-bar></app-star-rate-bar>
        <button class="btn" type="submit">등록</button>
      </div>
    </div>
  </form>
</div>
<div class="card">
  <p>코멘터리 리스트</p>
  <div class="comment-list" *ngIf="comments$ | async as res">
    <ul>
      <li *ngFor="let comment of res.data;">
        <!--댓글-->
        <div class="comment">
          <div class="comment-header">
            <p class="comment-nickname-font">{{ comment.nickname | substr }}</p>
            <p class="comment-date-font">{{ comment.regi_date }}</p>
          </div>
          <div class="comment-content">
              <p *ngIf="comment.comment==null"> {{ basicComment[comment.rate * 2] }}</p>
          </div>
        </div>
        <div class="comment-btn">
          <i class="material-icons" *ngFor="let empty of cal_star_rate(comment.rate); let i = index" flex-basis="10%">{{ starRateArray[i] }}</i>
          <button *ngIf="comment.id==user_id" class="btn" (click)="deleteComment(CommentFormGroup) " flex-basis="60%">삭제</button>
        </div>
      </li>
    </ul>
  </div>
</div>
