<div fxLayout="column" fxLayoutGap=".5rem">
  <div class="card">
    <form id="comment-form" [formGroup]="commentFormGroup" (submit)="registerComment(commentFormGroup)">
      <div class="form-group">
        <label for="comment">평점 및 코멘트 등록</label>
        <textarea formControlName="comment" id="comment" class="form-control"></textarea>
      </div>
      <div class="bottom" fxLayout="row" fxLayoutAlign="space-between center">
        <app-star-rate-bar [rate]="rate" (rateChange)="rate = $event"></app-star-rate-bar>
        <button type="submit" class="btn raise primary">등록</button>
      </div>
    </form>
  </div>
  <div class="card">
    <div class="comments" fxLayout="column">
      <div class="comment" *ngFor="let comment of comments$ | async" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <div class="header" fxFlex="15%">
          <p class="nickname">{{ comment.nickname }}</p>
          <p class="date">{{ comment.regi_date }}</p>
        </div>
        <div class="content">
          <p class="comment">{{ comment.comment || basicComment[comment.rate * 2] }}</p>
          <i class="material-icons"
             *ngFor="let empty of cal_star_rate(comment.rate);
             let i = index"
          >
            {{ starRateArray[i] }}
          </i>
        </div>
        <button class="btn raise primary" *ngIf="user_id === comment.id">삭제</button>
      </div>
    </div>
  </div>
</div>
