@import '../../../../styles';

.search-bar .form-group {
  margin: 0;
}

.search-bar .form-group .form-control {
  margin: 0;
  border: 0;
}

.search-bar .form-group .btn .material-icons {
  color: $primary-light;
}

.search-bar .form-group .btn {
  padding: 0;
}
