.container {
  width: 1440px;
  margin: auto;
}

.maincard {
  border-color: rgb(70, 65, 97);
  background-color: #393232;
  block-size: 500px;
}

.rankcard {
  border-color: rgb(70, 65, 97);
  background-color: #393232;
  block-size: 1000px;
  padding: 20px;
  margin-top: 20px;
}

#heart-icon {
  color: #ffbebd;
  font-size: 25px;
}

.rank-top {
  margin: 4px;
}

.rank-bottom {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.rank-top-star {
  font-size: 20px;
  color: #ffbebd;
  font-weight: bold;
  margin: 0;
}

.rank-top-card {
  margin-top: 47px;
  margin-bottom: 40px;
  max-width: 280px;
}

.rank-bottom-card {
  border-bottom: 0.01px solid #ffbebd;
}

.rank-num {
  margin-right: 15px;
  margin-left: 20px;
}

.rank-num-font {
  font-size: 20px;
  color: #ffbebd;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #ffbebd;
  text-align: center;
  border-radius: 10px;
  padding: 5px;

}

.ranking-font {
  font-size: 40px;
  color: #ffbebd;
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 55px;
}

.rank-top-font {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.rank-bottom-font {
  font-size: 19px;
  color: white;
}

.rank1 {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.rank2 {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.name-star {
  margin: 5px;
}

.gamecard {
  border-color: rgb(70, 65, 97);
  background-color: #140a0a;
  block-size: 216px;
}

.recommandcard {
  background-color: #140a0a;
  block-size: 200px;
  margin-bottom: 30px;
}

.searchcard {
  background-color: #4D4545;
  block-size: 60px;
  padding : 18px;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
  border-bottom: 2px solid #ffbebd;
}

.search-input {
  padding: 2px;
  border: 0px;
  background-color: #4D4545;
  outline: none;
  font-size:15pt;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffbebd;
}

.search-button {
  background-color: hsla(120, 100%, 50%, 0.0);
  border: 0;
  outline: 0;
}

#search-icon {
  color: #ffbebd;
  font-size: 33px;
}

