<app-navbar></app-navbar>
<div class="container" fxLayout="column" fxLayoutGap="2rem">
  <div class="slider-container">
    <app-slider [items]="items"></app-slider>
  </div>
  <div class="contents" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="1rem">
    <div class="rank-container" fxFlex="1 1 80%">
      <p class="title">GAME RANKING</p>
      <div class="top-rank-container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap=".5rem">
        <div
          [id]="'rank' + (i + 1)"
          class="top-rank"
          *ngFor="let topRank of rankList$ | async | slice:0:3; let i = index"
          (click)="navigateToGameDetail(topRank.id)"
        >
          <img [src]="'assets/main/header'+ (i + 2) +'.jpg'" alt="thumbnail" class="thumbnail">
          <div class="info" fxLayout="row" fxLayoutAlign="start" fxLayoutGap=".5rem">
            <p class="index" fxLayout="column">{{ i + 1 }}</p>
            <div class="detail">
              <p class="title">{{ topRank.title }}</p>
              <div class="rate-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem">
                <i class="material-icons heart">favorite</i>
                <p class="rate">{{ topRank.rate_avg }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-rank-container" fxLayout="column">
        <div
          class="sub-rank"
          *ngFor="let subRank of rankList$ | async | slice:3:limit; let i = index"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="1rem"
          (click)="navigateToGameDetail(subRank.id)"
        >
          <p class="index" fxFlex="1 1 4rem">{{ i + 4 }}</p>
          <p class="title">{{ subRank.title }}</p>
          <p class="rate">{{ subRank.rate_avg }}</p>
        </div>
      </div>
    </div>
    <div class="search-bar" fxFlex="1 1 20%">
      <form class="card" [formGroup]="keywordForm" (submit)="search(keywordForm)">
        <div class="form-group" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem">
          <input type="text" class="form-control">
          <button class="btn primary" type="submit"><i class="material-icons">search</i></button>
        </div>
      </form>
    </div>
  </div>
</div>

