@import '../../styles';

.slider-container {
  height: 24rem;
}

.rank-container {
  background-color: $background-dark;
  padding: 1rem;
}

.rank-container > .title {
  margin: 2rem 0 4rem 0;
  font-size: 2rem;
  color: $primary-light;
  font-weight: bold;
  text-align: center;
}

.rank-container .top-rank-container {
  padding-bottom: 4rem;
}

.rank-container .top-rank-container .top-rank {
  cursor: pointer;
}

.rank-container .top-rank-container .top-rank .thumbnail {
  width: 100%;
  border-radius: 3px;
}

.rank-container .top-rank-container .top-rank .index {
  width: 3rem;
  height: 3rem;
  margin-top: .5rem;
  padding: .9rem 1rem;
  border: 2px solid $primary-light;
  font-size: 1.2rem;
  font-weight: bold;
  color: $primary-light;
  border-radius: 3px;
}

.rank-container .top-rank-container .top-rank .title {
  margin: .5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.rank-container .top-rank-container .rate-container .heart {
  color: $primary-light;
}

.rank-container .sub-rank-container {
}

.rank-container .sub-rank {
  padding: .5rem 0;
  cursor: pointer;
}

.rank-container .sub-rank-container .sub-rank .index {
  width: 3rem;
  height: 3rem;
  padding: .5rem 1rem;
  border: 2px solid $primary-light;
  font-size: 1.2rem;
  font-weight: bold;
  color: $primary-light;
  text-align: center;
  border-radius: 3px;
}

.rank-container .sub-rank-container .sub-rank .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.rank-container .sub-rank-container .sub-rank .rate {
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.rank-container .sub-rank-container .sub-rank .rate .material-icons {
  margin-right: .5rem;
  color: $primary-light;
}

.search-bar .form-group {
  margin: 0;
}

.search-bar .form-group .form-control {
  margin: 0;
  border: 0;
}

.search-bar .form-group .btn .material-icons {
  color: $primary-light;
}

.search-bar .form-group .btn {
  padding: 0;
}
