@import '../../../../../styles';

.card {
  height: 159px;
  background-size: cover;
  border: 0;
  .game-info {
    margin: 0 -1rem -.5rem -1rem;
    padding: .5rem 1rem;
    max-height: 100%;
    color: #FFFFFF;
    .title {
      text-align: center;
      cursor: pointer;
    }
    .placeholder {
      height: 24px;
      margin: 0;
    }
    &:hover {
      background-color: $pointer;
      color: $primary;
    }
  }
}
