@import '../../../../../styles';

.card {
  height: 159px;
  border: 0;
  cursor: pointer;
  background-size: cover;
  .game-info {
    margin: 0 -1rem -.5rem -1rem;
    padding: .5rem 1rem;
    max-height: 100%;
    color: #FFFFFF;
    cursor: default;
    background: linear-gradient(to bottom, transparent, $pointer);
    .title {
      text-align: center;
      color: #FFFFFF;
    }
    .placeholder {
      height: 24px;
      margin: 0;
    }
    &:hover, &.rated {
      background-color: $pointer;
      color: $primary;
    }
  }
}
