<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="card" fxFlex.gt-sm="500px" fxLayout="column">
    <p>Sign up</p>
    <form [formGroup]="signUpFormGroup" class="form-group" fxLayout="column" fxLayoutGap="1rem" (submit)="signup()">
      <label for="email" class="form-label">Email
        <input formControlName="email" id="email" class="form-control" type="text">
      </label>
      <label for="password" class="form-label">Password
        <input formControlName="password" id="password" class="form-control" type="password">
      </label>
      <div class="btn-group" fxLayout="column" fxLayoutGap=".2rem">
        <button class="btn raise primary" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>
