.review-rate-group {
    height: 40px;
    margin: 10px 0;
    padding: 8px 0;
    .star {
        cursor: pointer;
        color: #673AB7;
        display: inline-block;
    }
    .message {
        display: inline-block;
        vertical-align: bottom;
        height: 24px;
        margin-left: 15px;
    }
}