<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <p class="pull-left">{{ gameRate.nickname }}</p>
                <p class="pull-right">{{ gameRate.regi_date }}</p>
            </div>
            <div class="col-lg-2">
                <p class="rate">{{ gameRate.rate }}점</p>
            </div>
            <div class="col-lg-10">
                {{ gameRate.comment }}
            </div>
        </div>
    </div>
</div>