@import '../../styles';

.contents {
  margin-top: 2rem;
}

.contents .left .tabs {
}

.contents .left .tabs .tab {
  background-color: $primary;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #000000;
  border-radius: 3px 3px 0 0;
}

@media (max-width: 599px) {
  .contents .left .tabs .tab {
    padding: 1rem;
  }
}

.contents .left .tabs .tab.active {
  background-color: $primary-light;
}

.card {
  padding: 0;
}

.graph-bar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 10rem;
  .graph-bar {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    min-height: 1.125rem;
    margin: 0 .125rem;
    text-align: center;
    background-color: $primary-light;
  }
}

.contents .right {
  margin-bottom: 1rem;
}
