@import '../../styles';

.contents {
  margin-top: 2rem;
}

.contents .left .tabs {
}

.contents .left .tabs .tab {
  background-color: $primary;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #000000;
  border-radius: 3px 3px 0 0;
}

.contents .left .tabs .tab.active {
  background-color: $primary-light;
}

.card {
  padding: 0;
}

.graph-bar-container {
  margin-bottom: .5rem;
  border: #4D4545;
  .graph-bar {
    border: 3px solid $primary-light;
  }
}