// https://codepen.io/grapgrap/pen/rpjOEg

// font import
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

// color define.
$primary-light: #ff9a96;
$primary: #F06868;
$primary-dark: #b9363d; // font white.
$secondary-light: #b5ffff;
$secondary: #80D6FF;
$secondary-dark: #49a5cc;
$background-dark: #E1E2E1;
$background-light: #F5F5F6;

.default {
  border: 1px solid $background-dark;
}
.raise.default {
  background-color: $background-dark;
}
.primary {
  background-color: inherit;
  color: $primary-dark;
}
.raise.primary {
  background-color: $primary;
  color: #000000;
}
.secondary {
  background-color: inherit;
  color: $secondary-dark;
}
.raise.secondary {
  background-color: $secondary;
  color: #000000;
}

html, body, app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background-dark;
  font-family: 'Nanum Gothic', sans-serif;
}

.container {
  padding: 0 1rem;
}

.shadow-bottom {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.card {
  padding: .5rem 1rem;
  box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.1);
  background-color: $background-light;
}

a[routerLink] {
  color: inherit;
  text-decoration: none;
  margin: 1rem 0;
}

.form-group {
  margin: 1rem 0;
  .form-label {
    font-size: .8rem;
    color: rgba(0, 0, 0, .5);
  }
  .form-control {
    width: 100%;
    max-width: 100%;
    margin-top: .2rem;
    background-color: inherit;
    box-sizing: border-box;
    border-width: 0 0 2px 0;
    border-color: #C3C3C3;
    outline: none;
    font-size: 1rem;
  }
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: inherit;
}

.label {
  display: inline-block;
  padding: .25rem .5rem;
  margin: .25rem;
  font-weight: bold;
  border-radius: 2px;
}
