// https://codepen.io/grapgrap/pen/rpjOEg
// font import
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import './style/color.scss';
@import './style/element.scss';
@import './style/form.scss';

html, body, app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background;
  font-family: 'Noto Sans KR', sans-serif;
  color: #FFFFFF;
}

app-login,
app-sign-up,
app-init-data,
app-init-data-step-1 {
  height: 100%;
}

p {
  margin: 0;
}
