.info .title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.info .thumbnail {
  max-width: 100%;
}

.info .release-date {
  margin-bottom: .5rem;
}

.rates .title {
  margin-bottom: .5rem;
}

.rates .rate {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-group{
  margin:0;
}
