<app-navbar></app-navbar>
<div class="container" fxLayout="column" fxLayoutGap=".5rem">
  <div id="game-info" fxLayout="column" fxLayoutGap=".5rem">
    <div class="card">
      <p>게임 이름</p>
    </div>
    <div class="card">
      <p>발매일</p>
      <p>개발사</p>
    </div>
    <div class="card">
      <p>장르 정보</p>
    </div>
  </div>
  <div id="game-rate" fxLayout="column" fxLayoutGap=".5rem">
    <div id="rate-group" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap=".5rem">
      <div class="card" fxFlex="1 1">
        <p>예상 평점 혹은 내 평점</p>
      </div>
      <div class="card" fxFlex="1 1">
        <p>전체 기간 평점</p>
        <div fxHide.lt-md id="all-time" class="graph">
          <p>그래프</p>
        </div>
      </div>
      <div class="card" fxFlex="1 1">
        <p>최근 3개월 평점</p>
        <div fxHide.lt-md id="lately" class="graph">
          <p>그래프</p>
        </div>
      </div>
    </div>
    <app-comment></app-comment>
  </div>
</div>
