
.pagewarp{
  width: 1400px;
}
.game-name{
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin: 5px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.rate{
  font-size:40px;
  font-weight: bolder;
  float: right;
  margin-right: 25px;
}

.rate-title{
  font-size:20px;
}

.game-info{
  color: rgb(253, 107, 107);
  margin-left:20px;
  font-size:25px;
}

.tag-info{
  padding-top:15px;
  padding-bottom: 15px;
}
#image-info{
  object-fit: fill;
  width:700px; height:400px
}

.rate-card {
  padding: .5rem 1rem;
  border-radius: 20px;
  color: rgb(253, 107, 107);
  height: 150px;
}
