<app-navbar></app-navbar>
<div class="container" fxLayout="column" fxLayoutGap=".5rem">
  <div class="contents" *ngIf="gameInfo$ | async as game" fxLayout="column" fxLayoutGap=".5rem">
    <div class="info" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap=".5rem">
      <img src="assets/header.jpg" alt="" class="thumbnail">
      <div class="card" fxFlex="auto">
        <p class="title">{{ game.title }}</p>
        <p class="release-date">발매일: {{ game.release_date }}</p>
        <p class="developer">개발사: {{ game.developer }}</p>
      </div>
    </div>
    <div class="rates" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap=".5rem">
      <div class="card predict" fxFlex="1 1">
        <p class="title">예상 평점</p>
        <p class="rate" *ngIf="predictRate$ | async as predictedRate; else predictYet">
          {{ predictedRate === - 999 ? '아직 예상 점수를 계산할 수 없습니다.' : predictedRate | number:'.2-2' }}
        </p>
        <ng-template #predictYet><p class="rate">예상 점수를 계산 중입니다.</p></ng-template>
      </div>
      <div class="card my" fxFlex="1 1" *ngIf="myRate$ | async as my">
        <p class="title">내 평점</p>
        <p class="rate">{{ my.rate | number:'.2-2' }}</p>
      </div>
      <div class="card all-time" fxFlex="1 1">
        <p class="title">전체 기간 평점 평균</p>
        <p class="rate" *ngIf="rateAvarage$ | async as rateAvg">{{ (rateAvg.rate_avg || 0 ) | number:'.2-2' }}</p>
      </div>
      <div class="card three-month" fxFlex="1 1">
        <p class="title">최근 3개월 평점 평균</p>
        <p class="rate" *ngIf="rateAvarage$ | async as rateAvg">{{ (rateAvg.rate_avg_3_month || 0) | number:'.2-2' }}</p>
      </div>
    </div>
    <div class="card tags">
      <p class="label raise primary" *ngFor="let tag of tags$ | async" (click)="search(tag.name)">{{ tag.name }}</p>
    </div>
  </div>
  <div class="comment">
    <app-comment></app-comment>
  </div>
</div>
