<div class="panel panel-default">
    <div class="panel-body">
        <div class="comment" *ngIf="isComment">
            <textarea rows="5" class="form-control" placeholder="별점만 입력하셔도 되지만, 코멘트를 입력하시면 다른 사람들에게 더 유익한 SourGrape가 됩니다."></textarea>
            <app-star-rate-bar [rate]="rate" (starRateEmitter)="rate = +($event)"></app-star-rate-bar>
            <div class="review-button-group pull-right">
                <button class="btn btn-raised btn-primary" [disabled]="rate === 0">
                    <i class="material-icons">mode_edit</i> 코멘트 작성
                </button>
            </div>
        </div>
    </div>
</div>