<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="title pull-left">게임을 평가해 주세요</h3>
        <div class="review-button-group pull-right">
            <button type="button" class="btn btn-raised btn-primary" (click)="clickReviewButton( true )">
                <div *ngIf="isGood; then CheckedGoodButton else NotCheckedGoodButton"></div>
                <ng-template #NotCheckedGoodButton><i class="material-icons">thumb_up</i></ng-template>
                <ng-template #CheckedGoodButton><i class="material-icons">check</i></ng-template>
                Good
            </button>
            <button type="button" class="btn btn-raised btn-danger"  (click)="clickReviewButton( false )">
                <div *ngIf="!isGood && isGood !== null; then CheckedBadButton else NotCheckedBadButton"></div>
                <ng-template #NotCheckedBadButton><i class="material-icons">thumb_down</i></ng-template>
                <ng-template #CheckedBadButton><i class="material-icons">check</i></ng-template>
                Bad
            </button>
        </div>
        <div class="comment" *ngIf="isComment">
            <textarea rows="5" class="form-control" placeholder="여기에 코멘트를 작성해주세요"></textarea>
            <div class="review-button-group pull-right">
                <button class="btn btn-raised btn-primary">
                    <i class="material-icons">mode_edit</i> 코멘트 작성
                </button>
            </div>
        </div>
    </div>
</div>